server:
  port: 8080

jwt:
  secret: super-secret-key-super-secret-key-123456
  expiration-minutes: 30

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie

      routes:
        - id: auth-service
          uri: http://auth-service:8080
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: profile-service
          uri: http://profile-service:8080
          predicates:
            - Path=/profiles/**
          filters:
            - StripPrefix=1
            - name: JwtAuth

management:
  endpoints:
    web:
      exposure:
        include: health,info
